/node_modules
/public/hot
/public/resources
/public/storage
/public/js
/public/*.css
/public/mix-manifest.json
/storage/*.key
/storage/logs/

/vendor
/coverage
.env.backup
.env
.phpunit.result.cache
.phplint-cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json

.DS_Store

.idea

/docs/*.bak

# Compiled from npm
/public/arvi/assets/js/*ffotf*
